---
{created-at-block}time: {created-at}{end-created-at-block}
{updated-at-block}update: {updated-at}{end-updated-at-block}
{location-block}location: {location}{end-location-block}
{source-url-block}source: {source-url}{end-source-url-block}
{tags-block}tags: {tags}
{end-tags-block}---
{title-block}# {title}{end-title-block}

{content-block}{content}{end-content-block}
