---
{created-at-block}time: {created-at}{end-created-at-block}
{updated-at-block}update: {updated-at}{end-updated-at-block}
{location-block}location: {location}{end-location-block}
{source-url-block}source: {source-url}{end-source-url-block}
{link-to-original-block}html: obsidian://open?file={link-to-original}{end-link-to-original-block}
{tags-block}tags: {tags}
{end-tags-block}---

{content-block}{content}{end-content-block}
